.App {
  text-align: center;
}


.App-header {
  background-color: #00adef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.selected {
  border: 5px solid #00adef;
}

.textarea {
  height: 500
}

.options-bar {
  border-bottom: 1px solid #dee2e6;
}

.experimental {
  color: yellowgreen;
}

.experimental::before {
  color: #ca8222;
  content: "This data was auto-detected and may be inaccurate!";
  display: block; 
  font-size: 0.75em; 
}

